@import "sections/header.css";
@import "sections/about-me.css";
@import "sections/skills.css";
@import "sections/experience.css";
@import "sections/education.css";
@import "sections/plan.css";
@import "sections/testimonial.css";
@import "sections/footer.css";
@import "responsive.css";

:root {
    --header-font: "Poppins";
    --contain-font: "Roboto";
    --primary-color: rgb(67, 74, 84);
    --bg-color: rgb(245, 247, 250);
    --gray-color: rgb(108, 117, 125);
    --blue-color: rgb(74, 137, 220);
    --green-color: rgb(55, 188, 155);
    --icon-color: rgba(0, 0, 0, 0.5);
    --white-btn-bg: rgb(230,233,237);
}

/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: var(--contain-font);
    scroll-behavior: smooth;
    font-size: 16px;
}

#page-content {
    /*background-color: var(--bg-color);*/
}

*::selection {
    color: white;
    background-color: var(--green-color);
}

/* ____________________________ */
/*head font size 28*/

.container {
    max-width: 1036px;
    width: 100%;
    margin: 0 auto;
}

body {
    line-height: 1.5;
}

.pt4 {
    padding-top: 40px;
}

.pr4 {
    padding-right: 40px;
}

.pl4 {
    padding-left: 40px;
}

.pb4 {
    padding-bottom: 40px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.tag-title {

}

.header {
    font-size: 28px;
    font-family: var(--header-font);
    font-weight: bold;
}


.fab::before {
    /*margin: 0;*/
    color: var(--icon-color);
    font-size: 20px;

}

.btn {
    color: var(--primary-color);
    text-transform: capitalize;
    background-color: var(--white-btn-bg);
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: .5rem 1.5rem;
    font-size: 1rem;
    border-radius: 3rem;
}
.btn-green {
    color: var(--white-btn-bg);
    background-color: var(--green-color);

}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.wrapper {
    background-color: var(--bg-color);
}
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    margin: 2rem 0;
    color: #adb5bd;
    background-color: currentColor;
    border: 0;
    opacity: .25;
}
hr:not([size]) {
    height: 1px;
}


.h5, h5 {
    font-size: 1.25rem;
}
.text-muted {
    color: #6c757d!important;
}
.h6, h6 {
    font-size: 1rem;
}
.text-small {
    font-size: .875rem;
}
.bold {
    font-weight: 600;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.mb-1 {
    margin-bottom: .5rem!important;
}
.mb-2 {
    margin-bottom: 1rem!important;
}
.mb-4 {
    margin-bottom: 3rem!important;
}