.experience-timeline {
    border-left: 2px solid #e6e9ed;
    padding: 1rem 0;
}

.timeline-card {
    position: relative;
    margin-left: 2rem;
    border-left: 2px solid;
    margin-bottom: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.timeline-card:before {
    content: '';
    position: absolute;
    background-color: #fff;
    border-radius: 3rem;
    width: .5rem;
    height: .5rem;
    top: 20px;
    left: -40px;
    border: 2px solid;
}

.timeline-card:after {
    content: '';
    position: absolute;
    width: 29px;
    height: 2px;
    top: 25px;
    left: -30px;
}

.card-body {
    padding: 2rem 2rem;
}

#experience .timeline-card-primary {
    border-left-color: var(--blue-color) !important;
}

#experience .timeline-card-primary:after {
    background-color: var(--blue-color) !important;
}

#experience .timeline-card-primary:before {
    border-color: var(--blue-color) !important;
}
