.filter_grayscale {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

#top-header {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header-right > ul {
    display: flex;
    width: 125px;
    justify-content: space-between;
}

.top-header-left {
    font-size: 20px !important;
    line-height: 2.5rem;
    font-weight: bold;

}

#header-slider {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--blue-color);
    max-height: 264px;
    height: 100%;

}

.header-avatar {
    grid-column: 1/span 4;
}

.header-info {
    grid-column: 5/span 8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    padding-bottom: 25px;

}
.header-avatar img {
    filter: grayscale(100%);
}
.header-info_name {
    font-size: 40px !important;
}
.picture-frame {
    position: relative;
    top: 1.75rem;
    background-color: white;
    padding: .5rem;
    display: inline-block;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.main-header {
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
    background-color: white;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    border-radius: 10px;
}